{{- define "note" -}}
{{- if eq "new-guide" .Type -}}
* **New Guide:** `{{.Body}}` ([#{{- .Issue -}}](https://github.com/tofuutils/tofuenv/issues/{{- .Issue -}}))
{{- else -}}
* {{.Body}} ([#{{- .Issue -}}](https://github.com/tofuutils/tofuenv/issues/{{- .Issue -}}))
{{- end -}}
{{- end -}}
